/*
* Style Sheet for HTML index
*/

h1 {
	color: grey;
	font-size: 30px;
	background-color: lightgrey;
}


/*
* this has been over ridden in the order of the rules. so if we had2 h1 selectors
* the one farthest down will override the other.
* say if i put 2 back ground colors. how css solves to opposing colors. it will apply the last one.
* pretty title will be stronger than h1 colors.
* i decided to take away the pretty title
*/
.pretty-title {
	color: steelblue;
	background-color: turquoise;
	border-radius: 20px;
}

/*
* id tag has the # ex #first-paragraph
* and class has the dot .pretty-title
*/

/*
* if you need to get
*/

#first-paragraph {
	background-color: turquoise;
	border: 5px solid darkgrey;
	font-family: sans-serif;
	font-size: 16px;
	padding: 20px;
	margin: 20px;
}

.second-paragraph {
	background-color: rgb(0,169,157);
	border: 5px solid darkgrey;
	font-family: sans-serif;
	font-size: 16px;
	padding: 20px;
	margin: 20px;
}

.third-paragraph {
	background-color: turquoise;
	border: 5px solid darkgrey;
	font-family: sans-serif;
	font-size: 16px;
	padding: 20px;
	margin: 20px;
}

